---
name: Update Docker Hub Description
on:
  push:
    branches:
      - main
    paths:
      - README.md
      - .github/workflows/hub-description.yaml

permissions:
  contents: read

jobs:
  description:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: tobix
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: tobix/pywine
          short-description: ${{ github.event.repository.description }}
